In [42]:
import os
import sys
import pandas as pd
import py4cytoscape as p4c
pd.options.mode.chained_assignment = None
p4c.cytoscape_version_info()

{'apiVersion': 'v1',
 'cytoscapeVersion': '3.10.2',
 'automationAPIVersion': '1.9.0',
 'py4cytoscapeVersion': '1.9.0'}

In [55]:
p4c.cyrest_api()
p4c.commands_api()

True

In [52]:
##IMPORT, CREATE AND FILTER DATAFRAME
exp_filepath = "/home/direnc/results/tim/rnaseq_mice/r_nr/differential_abundance/tables/differential/condition_r_nr.deseq2.results.tsv"
exp_name = "r_nr"
experiment_de_df = pd.read_csv(exp_filepath, sep="\t")
genes_to_keep = ['Braf', 'Akt1','Kras', 'Src']
genes_to_keep_df = experiment_de_df[experiment_de_df['gene_id'].isin(genes_to_keep)]
filtered_df_tmp_1 = experiment_de_df[experiment_de_df['log2FoldChange'].abs().gt(1)]
filtered_df_tmp_2 = filtered_df_tmp_1[filtered_df_tmp_1['padj'].lt(0.05)]
filtered_df = pd.concat([filtered_df_tmp_2, genes_to_keep_df]).drop_duplicates().reset_index(drop=True)
filtered_df

,gene_id,baseMean,log2FoldChange,lfcSE,pvalue,padj
0,0610039K10Rik,3.631723,1.031397,0.970629,2.300989e-02,4.275217e-02
1,1500002C15Rik,6.098582,-1.159223,0.788483,7.949396e-03,1.587265e-02
2,1600014C10Rik,394.314400,1.602991,0.095726,6.140386e-64,8.965658e-63
3,1600014C23Rik,28.989780,-4.697120,0.620340,2.298388e-15,1.035177e-14
4,1700001L05Rik,223.770000,-1.513094,0.119435,6.166089e-38,5.492022e-37
...,...,...,...,...,...,...
3518,Zscan4f,248.727600,1.772976,0.117416,2.114125e-52,2.528865e-51
3519,Zswim9,295.885300,1.093788,0.103872,1.150539e-27,7.963132e-27
3520,Akt1,9925.710000,-0.565955,0.025004,6.782822e-114,1.889853e-112
3521,Kras,2853.584000,-0.916530,0.045245,1.031214e-92,2.250576e-91
3522,Src,4369.450000,-0.024361,0.038681,5.265494e-01,6.416301e-01

In [72]:
##STRING NETWORK##
exp_str = ','.join(str(v) for v in filtered_df["gene_id"])
exp_str2 = ','.join(str(v) for v in filtered_df["gene_id"])
print(len(exp_str))
string_cmd_list = ['string protein query','query="',"Kras",'"', 'species="Mus musculus"', 'cutoff=0.9',
                   "newNetName=only_kras_r_nr", "limit=1000"]
string_cmd = " ".join(string_cmd_list)
p4c.commands.commands_run(string_cmd)
p4c.create_subnetwork(edges='all', subnetwork_name='%s pynetwork'%exp_name)
p4c.select_nodes(by_col= "display name" ,nodes="Kras")
p4c.select_first_neighbors()
p4c.create_subnetwork(nodes="selected", subnetwork_name="top disease neighbors")

24868

3845856

In [45]:
# # Get the SUID of the current network
# network_suid = p4c.get_network_suid()
# 
# # Get the name of the current network
# network_name = p4c.get_network_name(network_suid)
# 
# print(f"The current network name is: {network_name}")

In [46]:
# network_names = p4c.get_network_list()
# network_names

In [47]:
# p4c.layout_network('force-directed', 'r_nr_whole_with_added_nr/r(direction)')
# p4c.notebook_export_show_image()

In [48]:
# p4c.get_table_column_names()